._btn {
   display: block;
   border: none;
   max-width: 117px;
   width: 100%;
   background-color: hsl(183, 100%, 15%);
   color: hsl(0, 0%, 100%);
   font-family: 'SpaceMono', sans-serif;
   font-weight: 700;
   font-size: 18px;
   text-align: center;
   padding: 8px 0;
   border-radius: 5px;
   cursor: pointer;
   transition: all .5s ease;
   &._active {
      background-color: hsl(172, 67%, 45%);
      color: hsl(183, 100%, 15%);
   }
   &.reset {
      margin-top: auto;
      max-width: initial;
      text-transform: uppercase;
      background-color: hsl(172, 67%, 45%);
      color: hsl(183, 100%, 15%);
      border: 1px solid transparent;
      &:hover {
        border-color: hsl(172, 67%, 45%);
        color: hsl(172, 67%, 45%);
        background-color: transparent;
      }
   }
}

