.calculator {
  padding: 70px 0;
  @media (max-width: 912px) {
    padding: 50px 0;
  }
  .body {
    .title {
      text-transform: uppercase;
      word-break: break-all;
      max-width: 90px;
      width: 100%;
      letter-spacing: 0.2em;
      font-size: 25px;
      margin: 0 auto 60px auto;
      @media (max-width: 912px) {
        margin-bottom: 50px;
      }
    }
    .tip {
      max-width: 924px;
      width: 100%;
      background-color: hsl(0, 0%, 100%);
      padding: 32px;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      @media (max-width: 912px) {
        flex-direction: column;
        max-width: 450px;
      }
    }
  }
}
